body {
  margin: 0;
  background-color: #0c1126;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}


::-webkit-scrollbar {
  display: none;
}

.dropdown-toggle::before {
  content: none !important;
}

p {
  margin: 4px;
}

h4 {
  margin-top: 26px;
  margin-bottom: 13px;
}

/* header start */
#header {
  display: flex;
}

#logo {
  width: 20vw;
  display: flex;
}

#logo img {
  height: 60px;
  margin-left: 30px;
  margin-top: 10px;
  width: auto;
  max-width: 150px;
}

#logo p {
  color: white;
  margin-top: 25px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#search {
  width: 20vw;
  height: 30px;
  margin-left: auto;
  display: flex;
  margin-top: 15px;
  background-color: #12183f;
  border-radius: 8px;
}

#input {
  background-color: transparent;
  width: 85%;
  color: white;
  border-style: hidden;
  outline: none;

}

#lens {
  margin-top: 8px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

#mic {
  margin-top: 8px;
  margin-left: auto;
  margin-right: 5px;
  color: white;
}

#user {
  width: 13vw;
  display: flex;
}

#bell {
  margin-top: 20px;
  margin-left: 40px;
  color: #e7e7e6;
}

#dot {
  color: red;
  height: 1px;
  width: 1px;
  margin-top: 20px;
  margin-left: -5px;
  font-size: 6px;
}

#user img {
  height: 45px;
  width: 45px;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

/* main */
main {
  width: 100%;
  padding: 0% 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all ease-in-out 1s;
}

.aside {
  display: inline-block;
  overflow: hidden;
}

.section-1 {
  width: 70%;
  height: 86vh;
  overflow: scroll;
  overflow-x: hidden;
}

.section-1::-webkit-scrollbar {
  display: none;
}

.section-2 {
  width: 28%;
  height: 86vh;
}

.outer-carousel {
  position: relative;
  left: 8vw;
  margin-top: 5%;
  transition: all ease-in-out 1s;
}

/* carousel */
.carousel {
  position: absolute;
  left: 4%;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: visible;
  justify-content: space-around;
}

.carousel img {
  height: 15vw;
  width: 22.5vw;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s;
}

.carousel img:nth-child(1) {
  position: relative;
  left: 41vw;
  z-index: 2;
}

.carousel img:nth-child(2) {
  z-index: 3;
}

.carousel img:nth-child(3) {
  position: relative;
  right: 41vw;
  z-index: 1;
}

.carousel img:hover {
  z-index: 4;
  box-shadow: 0px 0px 12px 0.1px black;
  height: 18vw;
  width: 27vw;
}

/* Latest Release */
.latest-release {
  position: relative;
  top: 20vw;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.latest-release-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.latest-release-content>div {
  height: 100px;
  width: 47%;
  margin: 5px 0px;
}

.card {
  display: flex;
  flex-direction: row;
  transition: box-shadow ease-in-out 0.1s;
}

.card:hover {
  box-shadow: 0px 0px 2px 1px white;
}

.card img {
  width: 100px;
  height: 100px;
  z-index: 1;
}

.play-button {
  width: 100%;
  height: 65%;
  position: relative;
  top: -105%;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  font-size: 0px;
  padding-top: 15%;
  text-align: center;
  z-index: 5;
  transition: all ease-in-out 0.1s;
}

.play-button i {
  padding-top: 45%;
}

.play-button:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.song-description {
  margin: auto 10%;
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  text-align: right;
  margin-left: auto;
  margin-right: 2%;
  margin-top: 2%;
}

.latest-release-dropdown {
  position: absolute;
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  width: 0px;
  height: 0px;
  top: 20px;
  right: 0px;
  overflow: hidden;
  z-index: 2;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 1px black;
  transition: all ease-in-out 0.3s;
}

.fa-ellipsis-h {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked~.latest-release-dropdown {
  width: max-content;
  height: auto;
  opacity: 1;
  padding: 5px;
}

.drop-item p {
  text-align: center;
}

/* popular artists */
.popular-artists {
  position: relative;
  width: 100%;
  height: auto;
  top: 26vw;
  box-sizing: border-box;
}

.popular-artist-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-artists div a img {
  width: 10vw;
  min-width: 60px;
  min-height: 60px;
  height: 10vw;
  border-radius: 50%;
}

.popular-artists>div {
  margin: 5px;
  text-align: center;
}

.popular-artist-content>a>div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popular-artist-content>a>div>div {
  position: absolute;
  display: flex;
  top: 0px;
  width: 10vw;
  min-width: 60px;
  min-height: 60px;
  height: 10vw;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
}

.popular-artist-content a div div i {
  margin: auto;
  font-size: 3vw;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.popular-artist-content a div div:hover {
  opacity: 0.5;
}

.popular-artist-content a div div:hover i {
  opacity: 1;
}

.popular-artists div p {
  text-align: center;
}

/* music themes */
.music-themes {
  position: relative;
  top: 28vw;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: rgb(65, 88, 122);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stations {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

#div1 {
  width: 12vw;
  height: 8vw;
  background-color: darkslateblue;
}

#div2 {
  position: relative;
  top: -1vw;
  left: 1vw;
  width: 10vw;
  height: 10vw;
  background-color: lightgreen;
}

#div3 {
  position: relative;
  top: -1vw;
  left: 1vw;
  width: 8vw;
  height: 12vw;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#div3 img {
  width: 5vw;
  height: 5vw;
}

#div3 p {
  font-size: 2vw;
}

.music-themes div img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

.theme-content {
  margin: 3%;
  height: 8vw;
  width: 8vw;
  text-align: center;
  border-radius: 100%;
}

.theme-content p {
  text-align: center;
  position: relative;
  top: -8vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2vw;

}

.theme-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* music theme 2 */
.music-themes-2 {
  position: relative;
  top: 30vw;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.outer-div {
  width: 19.5vw;
  height: 13vw;
  overflow: hidden;
  min-width: 123px;
  min-height: 82px;
  margin: 5px;
  cursor: pointer;
}

.inner-div {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  transition: all ease-in-out 0.3s;
}

.music-themes-2 .outer-div:nth-child(1) .inner-div {
  background-image: url("images/17\ Party.jpg");
}

.music-themes-2 .outer-div:nth-child(2) .inner-div {
  background-image: url("images/18\ Electronic.jpg");
}

.music-themes-2 .outer-div:nth-child(3) .inner-div {
  background-image: url("images/19\ Travel.jpg");
}

.outer-div:hover .inner-div {
  transform: scale(1.3);
}

.outer-div .inner-div span {
  transform: scale(1);
  transition: all ease-in-out 0.3s;
}

.outer-div:hover .inner-div span {
  transform: scale(0.75);
}

.inner-div::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.inner-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.outer-div .inner-div span {
  /* color: white; */
  color: white;
  font-size: 2vw;
}

/* Englesh section  */
.language {
  position: relative;
  top: 30vw;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 3vw 0px;
}

.language-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 2px;
}

.language-content div img {
  width: 10vw;
  min-height: 60px;
  height: 10vw;
  min-height: 60px;
  transition: box-shadow ease-in-out 0.5s;
}

.language-content div img:hover {
  box-shadow: 0px 0px 10px 1px white;
}

.language-content div {
  margin: 2vw 0px;
  width: 10vw;
  min-width: 60px;
}

.language-content div p:nth-child(2n) {
  width: 100%;
  word-wrap: break-word;
}

.language-content div p:nth-child(2n + 1) {
  font-size: 12px;
  font-weight: lighter;
}

/* aside section 2 */

label[for="more"] {
  display: none;
  position: absolute;
  right: 0%;
  top: 20%;
  padding-bottom: 5px;
  z-index: 4;
  width: 70px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px #fff;
  background-color: black;
}

label[for="more"]:checked ~ input {
  display: none;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12%;
}

.heading h4 a {
  text-decoration: none;
  color: #fff;
}

.queue-options {
  position: fixed;
  right: 4%;
  top: 14%;
  background-color: rgb(131, 113, 113);
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: all ease-in-out 0.25s;
}

#queue-option-box:target {
  opacity: 1;
  transform: scale(1);
}

.queue-options {
  color: black;
}

.queue-options p {
  text-align: center;
}

.queue-options p a {
  text-decoration: none;
}

hr {
  width: 70%;
  color: black;
}

.playlist-content {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  cursor: pointer;
  padding-bottom: 50px;
}

.playlist-content::-webkit-scrollbar {
  display: none;
}

.left-content {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.left-content > div :nth-child(3) {
  margin-left: 12px;
  width: 50%;
  overflow-x: hidden;
}

.right-content {
  position: relative;
  bottom: 62%;
  left: 90%;
  width: min-content;
  height: 20px;
  color: #fff;
  font-size: 20px;
}

.right-content i {
  transition: all ease-in-out 0.1s;
}

.right-content i:hover {
  color: red;
}

.playlist-item {
  width: 90%;
  height: auto;
  padding: 0px 1%;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin: 1%;
}

.playlist-item:hover {
  box-shadow: 0px 0px 2px 1px #fff;
}

.playlist-item img {
  width: 80px;
  height: 80px;
}

.coverer {
  width: 80px;
  height: 80px;
}

/* footer */

footer {
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: #282828;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}

/* song description */

.active-song-description {
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}

#song-image img {
	width: 100%;
	height: 100%;
}

.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}

.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}

.song-desc div:nth-child(1) {
	font-size: 14px;
}

.song-desc div:nth-child(2) {
	font-size: 12px;
}

/* player section */
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}

.time {
	margin: 0px 10px;
}

.slidecontainer {
	width: 100%;
}

/* volume section */
.slider {
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#cursor {
  cursor: pointer;
}

/* responsive css */
@media screen and (max-width: 1200px) {
	.favs {
		display: none !important;
	}
	.search-bar {
		width: 30%;
	}
	input {
		font-size: 11px !important;
	}
}
@media screen and (max-width: 900px) {
	label[for="more"] {
		display: block;
	}
	/* hidden section 2 by default */
	.section-2 {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 300px;
		height: 66vh;
		background-color: #050043;
		box-shadow: 0px 0px 2px 1px white;
		right: 0px;
		top: 23.5%;
		z-index: 5;
		overflow: scroll;
		padding-left:10px;
		transition: visibility ease-in-out 0.2s;
		transition: opacity ease-in-out 0.2s;
	}
	.playlist-content {
		overflow: visible;
	}
	/* re-adjusted the queue options box */
	.queue-options {
		position: absolute;
		height: auto;
		width: auto;
		top: 7%;
		right: 0%;
	}
	/* more button */
	input[id="more"]:checked ~ .section-2 {
		visibility: visible;
		opacity: 1;
	}
	/* hide section 2 scrollbar */
	.section-2::-webkit-scrollbar {
		display: none;
	}
	/* when the section 2 is hidden, section-1 width becomes 100% to cover the whole page */
	.section-1 {
		width: 100%;
	}
	.card {
		min-width: 250px; /* to apply the flex effect */
	}
	/* carousel adjustment */
	.outer-carousel {
		height: 9%;
	}
	/* carousel image */
	.carousel img {
		height: 23vw;
		width: 34.5vw;
	}
	/* first and 3rd images of the carousel */
	.carousel img:nth-child(1) {
		left: 56vw;
	}
	.carousel img:nth-child(3) {
		right: 56vw;
	} /* since the size of the carousel images is increased, the hover size should also be increased */
	.carousel img:hover {
		height: 27vw;
		width: 40.5vw;
	}
	/* music themes section */
	.music-themes {
		justify-content: space-around;
	}
	.theme-main {
		width: 50%;
	}
	/* theme content */
	/* increased theme content size */
	.theme-content {
		width: 12vw;
		height: 12vw;
	}
	.theme-content p {
		font-size: 3vw;
		top: -12.5vw;
	}
	/* increased music themes image size */
	.music-themes div img {
		width: 12vw;
		height: 12vw;
	}
}
@media screen and (max-width: 700px) {
	/* so there is no need for the volume slider at this width. so i have removed them from the display */
	/* footer section */
	.extras > div:nth-child(3) {
		display: none;
	}
	.extras > div:nth-child(4) {
		display: none;
	}
	.outer-div {
		width: 36vw;
		height: 24vw;
		min-width: 123px;
		min-height: 82px;
	}
	.outer-div .inner-div span {
		font-size: 4vw;
	}
}
@media screen and (max-width: 550px) {

	/* this is the image in the footer section of the page. due to less space, it has to be removed at such lower resolutions. */
	/* there is another option, but it will look messy and small */
	#song-image {
		display: none;
	}

	.theme-main {
		width: 100%;
	}
	/* theme content */
	.theme-content {
		width: 18vw;
		height: 18vw;
	}
	.theme-content p {
		font-size: 4.5vw;
		top: -18.8vw;
	}
	.music-themes div img {
		width: 18vw;
		height: 18vw;
	}

	/* stations */
	/* this is the stations section- those colorful boxes in the tri-linear-gradient div */
	#div1 {
		width: 30vw;
		height: 20vw;
	}
	#div2 {
		width: 28vw;
		height: 24vw;
	}
	#div3 {
		width: 26vw;
		height: 26vw;
	}
	#div3 img {
		width: 12vw;
		height: 12vw;
	}
	/* text part in that section which contains "stations" text */
	#div3 p {
		font-size: 5vw;
	}
	.outer-div .inner-div span {
		font-size: 6vw;
	}
}
